@page "/classoverview"
@inject NavigationManager _navigation
@inject AuthenticationService _authentication

<h3>ClassOverview</h3>

<p>@SchoolClass.SchoolClassName</p>
<br />
<p>STUDENTS : </p>
<ul>
	@foreach (var student in SchoolClass.Students)
	{
		<li><a href="/studentprofile?UserId=@student.UserId">@student.UserName</a></li>
	}
</ul>

<br />
<p>COACHES</p>
<ul>
	@foreach (var coach in SchoolClass.CoachSchoolClasses)
	{
		<li><a href="/coachprofile?UserId=@coach.Coach.UserId">@coach.Coach.UserName</a></li>
	}
</ul>

<br />
<p>COURSE</p>
@foreach (var course in SchoolClass.SchoolClassCourses)
{
	<li><a href="/courseoverview?UserId=@UserId&CourseId=@course.Course.CourseId">@course.Course.CourseName</a></li>
}

@if (User.Role == "Coach")
{
	<button type="button" @onclick="NavigateToAddCourses">Add Courses</button>
}