@page "/classoverview"
@inject NavigationManager _navigation

<h3>ClassOverview</h3>

<p>@SchoolClass.SchoolClassName</p>
<br />
<p>STUDENTS : </p>
<ul>
	@foreach (var student in SchoolClass.Students)
	{
		<li><a href="/studentprofile?UserId=@student.UserId">@student.UserName</a></li>
	}
</ul>

<br />
<p>COACHES</p>
<ul>
	@foreach (var coach in SchoolClass.CoachSchoolClasses)
	{
		<li><a href="/coachprofile?UserId=@coach.Coach.UserId">@coach.Coach.UserName</a></li>
	}
</ul>

<br />
<p>COURSE</p>
@foreach (var course in SchoolClass.SchoolClassCourses)
{
	<p>@course.Course.CourseName</p>
}
