@page "/login"
@inject NavigationManager _navigate
@inject AuthenticationService _authenticationService
@inject StateContainer _stateContainer

<div class="text-primary py-4 mb-6 text-center">
	<h1 class="display-4">Welcome to Switchfully Learning Management System</h1>
</div>

<BSContainer Class="d-flex justify-content-center align-items-center vh-100">
	<BSCard Class="p-4 shadow-lg" Style="width: 300px;">
		<h2>Login</h2>
		<BSForm Model="UserLogin" OnSubmit="HandleLogin">
			<BSLabel For="username">Username</BSLabel>
			<BSInput @bind-Value="UserLogin.Email" Type="text" Id="username" Placeholder="Enter your username" />
			<BSLabel For="password">Password</BSLabel>
			<div style="position: relative;">
				<BSInput InputType="@(isPasswordVisible ? InputType.Text : InputType.Password)" id="password" @bind-Value="UserLogin.Password" ValidateOnInput=" true" />
				<button type="button" @onclick="TogglePasswordVisibility" style="position: absolute; right: 20px; top: 0; height: 100%; border: none; background: none;">
					<span>@(isPasswordVisible ? "Hide" : "Show")</span>
				</button>
			</div>
			@if (!string.IsNullOrEmpty(ErrorMessage))
			{
				<BSAlert Color="BSColor.Danger">@ErrorMessage</BSAlert>
			}
			<BSButton Color="BSColor.Primary" Class="mt-3" @onclick="HandleLogin">Submit</BSButton>
		</BSForm>
	</BSCard>
</BSContainer>


<style>
	/* Custom CSS for the error message */
	.mt-2 {
		margin-top: 10px; /* Adjust margin-top as needed */
	}
</style>
