@page "/logout"
@inject AuthenticationService _authenticationService
@inject NavigationManager _navigation

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _authenticationService.UserLogoutAsync();
        _navigation.NavigateTo("/");
    }
}
