@page "/progressions"
@inject StudentCodelabService _studentcodelabService
@inject LearningModuleService _learningModuleService

@if(LabProgressions !=null && LearningModuleDto != null)
{
	<h2 style="margin:50px;">Progressions for module : "@LearningModuleDto.ModuleName"</h2>
	@foreach (var progression in LabProgressions)
	{
		<BSLabel Margin="Margins.Medium">@progression.StudentName</BSLabel>
		<BSProgress>
			<BSProgressBar Color="BSColor.Success" Value="GetValue(progression)">@GetValue(progression)%</BSProgressBar>
		</BSProgress>
	}
}
