@page "/studentprofile"
@inject NavigationManager _navigation



<h3>StudentProfile</h3>
@if (Student != null)
{
	<p>@Student.UserId</p>
	<p>@Student.UserName</p>
	<p>@Student.Email</p>
	<p>@Student.SchoolClass?.SchoolClassName</p>


	@if (User.Role == "Student" && User.UserId == Student.UserId)
	{
		<button id="edit" @onclick="NavigateToEdit">Edit Profile</button>

		<button id="classoverview" @onclick="NavigateToClass">Class Overview</button>
	}

}





