@page "/studentprofile"
@inject NavigationManager _navigation
@inject StudentService _studentService
@inject StateContainer _stateContainer


@if (Student != null)
{
	<BSContainer Class="d-flex justify-content-center align-items-center vh-100">
		<BSCard Class="p-4 shadow-lg" Style="width: 400px;">
			
				<h2 class="mb-4">Profile</h2>
				<div>
					<BSForm Model="Student">
						
							<BSLabel For="name">Name</BSLabel>
							<BSInput @bind-Value="Student.UserName" Type="text" Id="name" ReadOnly="true" />
						
							<BSLabel For="email">Email</BSLabel>
							<BSInput @bind-Value="Student.Email" Type="email" Id="email" ReadOnly="true" />
						
							<BSLabel For="class">Class</BSLabel>
							<BSInput @bind-Value="Student.SchoolClass.SchoolClassName" Type="text" Id="class" ReadOnly="true" />
						
					</BSForm>

					@if (User.Role == "Student" && User.UserId == Student.UserId)
					{
						<div class="mt-4">
							<BSButton Color="BSColor.Primary" @onclick="NavigateToEdit">Edit</BSButton>
							<BSButton Color="BSColor.Info" @onclick="NavigateToClass">Class Overview</BSButton>
						</div>
					}
				</div>
			
		</BSCard>
	</BSContainer>


	
}





